/* https://www.josephz.me/
https://www.melaniedaveid.com/
https://jonlamb.com/?ref=onepagelove
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    background-color: #111111;
    color: white;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

::selection {
    background: #3d1818;
    color: #fde047;
}

.bodyWrap{
    padding: 0 0.75rem 0 0.75rem;
    display: flex;
    flex-direction: column;
}

.navBar{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    border-bottom: 0.1rem solid #de303f;
    padding: 1rem 0 1rem;
}

#navH{
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}


.navP{
    margin: 0;
}

.textSection{
    /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; */

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 0 1rem;
    flex-wrap: wrap;
}

.textP{
    margin: 0;
}
.aboutMe{
    flex-basis: 50%;
    min-width: 300px;
}

.expContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.expContainer h1{
    margin: 0;
    padding: 0.5em;
}

.contentGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.lColumn{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 2em 0 2em;
}
.rColumn{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 2em 0 2em;
}

.itmH{
    margin: 0;
    font-size: 2.25rem;
}
.itmP{
    margin: 0;
    font-size: 1.25rem;
}

.img{
    width: 100%;

}

.gridItm{
    padding-bottom: 0.3rem;
    margin: 0 0 1em;
    text-align: left;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-out;
    width: 100%;
    
}

.gridItm:hover{
    background-color: #de303f;
    transition: 0.4s ease-out;
}


