/* https://www.josephz.me/
https://www.melaniedaveid.com/
https://jonlamb.com/?ref=onepagelove
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: #111111;
    color: white;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

::selection {
    background: #3d1818;
    color: #fde047;
}

.bodyWrap{
    padding: 0 0.75rem 0 0.75rem;
    display: flex;
    flex-direction: column;
}

.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    border-bottom: 0.1rem solid #de303f;
    padding: 1rem 0 1rem;
}

.navH{
    margin: 0;
    font-weight: bold;
}

.navP{
    margin: 0;
}

.textSection{
    /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; */

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 0 1rem;
    flex-wrap: wrap;
}

.textP{
    margin: 0;
}

.contentGrid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.itmH{
    margin: 0;
}
.itmP{
    margin: 0;
}

.img{
    max-width: 100%;
}

.gridItm{
    padding: 0.3rem;
    text-align: left;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-out;
    max-width: 565px;
}

.gridItm:hover{
    background-color: #de303f;
    transition: 0.4s ease-out;
}

.aboutMe{
    flex-basis: 50%;
    min-width: 300px;
}